body{
    font-family: 'Raleway', sans-serif;
}
h1{

}
.first-style{
    color: yellowgreen;
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
   width: 100%;
}
