body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
h1{

}
.first-style{
    color: yellowgreen;
    font-size: 40px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
   width: 100%;
}
.top-bennar{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.half-width2{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width2 img{
    width: 100%;
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 12px;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    transition: .5s;
}
.btn:hover{
    background-color: lightpink;
}
.second-banner{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
   
}
.exparince{
    box-shadow: 10px 10px 40px gray;
    height: 80%;

}
.scend-style{
    font-size: 20px;
}
.exparince-aria{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
#left-border{
    border-left: 7px solid green;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#left-border2{
    border-left: 7px solid;
    border-image: linear-gradient(blue,tomato);
    border-image-slice: 1;
}
footer{
    text-align: center;
}
